// src/assets/styles/components/_header.scss
@use '../setup' as *;
.app-header {
    background-color: $header-bgc;
    padding: 12px 48px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // max-width: 1200px;
        margin: 0 auto;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        .logo {

        }
        .text {
            font-weight: 400;
            color: $primary-color;
            font-size: $font-size-header-logo;
            font-family: bebas-neue;
        }
    }

    .header-actions {
        display: flex;
        align-items: center;
        gap: $spacing-md;

        .user-name {
            color: $primary-text;
        }

        // .logout-btn {
        //     background-color: transparent;
        //     border: 1px solid $primary-text;
        //     color: $primary-text;
        //     padding: $spacing-xs $spacing-sm;
        //     border-radius: $border-radius;
        //     cursor: pointer;
        //     transition:
        //         background-color 0.3s,
        //         color 0.3s;

        //     &:hover {
        //         background-color: $primary-text;
        //         color: $white;
        //     }
        // }
    }
}
