// src/assets/styles/pages/_login_page.scss
@use '../setup' as *;
.login-page {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;

    > * {
        flex: 1;
        height: 100%;
    }

    .login-form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $spacing-xxl;

        .welcome-heading {
            font-family: exo;
            color: $text-light;
            font-size: $font-size-large;
            line-height: 34px;
        }

        .page-identify-title {
            font-family: exo;
            color: $primary-dark;
            font-size: $font-size-xlarge;
            line-height: 66px;
        }
    }

    .cover-section {
        position: relative;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;

        .welcome-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        .title {
            position: absolute;
            display: flex;
            align-items: center;
            gap: 13px;
            bottom: $spacing-lg;
            right: $spacing-lg;

            .text {
                font-family: bebas-neue;
                font-size: $font-size-logo;
                color: $white;
            }
        }
    }
}

// Media queries for responsive design
@media (max-width: $normal-breakpoint) {
    .login-page {
        flex-direction: column;
        height: auto;
        overflow: auto;

        .login-form-section {
            padding: $spacing-lg;
            width: 100%;
        }

        .cover-section {
            display: none; // Hide image on mobile
        }
    }
}
