.player-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 48px 68px;
    border: 1px dashed #000000;
    border-radius: 8px;
    // border-image: repeating-linear-gradient(
    //   to right,
    //   black 0,
    //   black 10px,
    //   transparent 10px,
    //   transparent 20px
    // );
    // border-image-slice: 1;
}
