// src/assets/styles/basics/_base.scss
@use '../setup' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: exo;
}

body {
    color: $primary-text;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

// Error styling
.error {
    color: $error-color;
    font-size: 14px;
}

// Toast notifications custom styling
.Toastify__toast {
    border-radius: $border-radius;
    font-family: exo;
}

.Toastify__toast--success {
    background-color: white;
}

.Toastify__toast--error {
    background-color: $error-color;
}
